<div class="col-md-12">
  <h2>{{title}}</h2>
  <div class="alert alert-success" *ngIf="status == 'success'" role="alert">
    <p>Usted ha sido identificado correctamente !!:</p>{{message}}
    <a [routerLink]="['/login']">Identificate aquí</a>
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'" role="alert">
    <p>No te has identificado:</p>{{message}}
  </div>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="col-md-5">
    <p>
      <label for="email">Email</label>
      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required />
      <span *ngIf="!email.valid && email.touched">
        El email es obligatorio
      </span>
    </p>
    <p>
      <label for="password">Contrasella</label>
      <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
      <span *ngIf="!password.valid && password.touched">
        El password es obligatorio
      </span>
    </p>
    <input type="submit" value="Entrar" class="btn btn-primary" [disabled]="!loginForm.form.valid"/>
  </form>
</div>
