<div class="col-md-12">

  <h2>{{title}}</h2>

  <div class="alert alert-success" *ngIf="status == 'success'" role="alert">
    <p>Success:</p>{{message}}
    <a [routerLink]="['/login']">Identificate aquí</a>
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'" role="alert">
    <p>Existe un error al momento de registrarse:</p>{{message}}
  </div>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-md-5">
    <p>
      <label for="name">Nombre</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
      <span *ngIf="!name.valid && name.touched">
        El nombre es obligatorio
      </span>
    </p>
    <p>
      <label for="surname">Apellidos</label>
      <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required />
      <span *ngIf="!surname.valid && surname.touched">
        Los apellidos son obligatorio
      </span>
    </p>
    <p>
      <label for="email">Email</label>
      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required />
      <span *ngIf="!email.valid && email.touched">
        El email es obligatorio
      </span>
    </p>
    <p>
      <label for="password">Contrasella</label>
      <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
      <span *ngIf="!password.valid && password.touched">
        El password es obligatorio
      </span>
    </p>
    <input type="submit" value="Registrarme" class="btn btn-success"/>
  </form>
</div>
